In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt

import sys
sys.path.append("../../../")

from chiseling.benchmark.benchmark import Benchmark
from chiseling.dgps.heterogeneous_linear_rct import search_for_target_specification_heterogeneous_linear_rct_size_only

In [3]:
# Hyperparameters
d = 100
s = 10
rho = 0.2

test_thresh = 0
alpha = 0.05

random_seed = 42

In [4]:
target_size = 0.01
theta = 0.8

n = 25000

n_sims = 25

In [5]:
tau = search_for_target_specification_heterogeneous_linear_rct_size_only(d,
                                                                         s,
                                                                         rho,
                                                                         theta,
                                                                         target_size,
                                                                         random_seed=random_seed)
print(tau)

-2.2482115326493877

In [6]:
settings = {"task_id": 0,
            "dgp": "HeterogeneousLinearRCT",
             "n": n,
             "d": d,
             "s": s,
             "rho": rho,
             "theta": theta,
             "tau": tau,
             "alpha": alpha,
             "random_seed": 42,
             "strategy": "DataSplittingStrategy",
             "train_ratio": 0.5,
             "test_thresh": test_thresh,
             "learner": "lassocv_selector_learner",
             "n_sims": n_sims,
             "random_seed": random_seed}

In [7]:
benchmark = Benchmark(settings)
benchmark.simulate_batch()
benchmark.simulation_results_df

,task_id,sim_id,rejected,region_mass,subgroup_mean,subgroup_utility,region_mass_se,subgroup_mean_se,subgroup_utility_se
0,0,0,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
1,0,1,True,0.00354,0.623419,0.002207,0.000188,0.017105,0.000132
2,0,2,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
3,0,3,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
4,0,4,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
5,0,5,True,0.00586,0.443737,0.002600,0.000241,0.012425,0.000130
6,0,6,True,0.00266,0.652418,0.001735,0.000163,0.015848,0.000114
7,0,7,True,0.00441,0.559182,0.002466,0.000210,0.013625,0.000132
8,0,8,True,0.00525,0.474521,0.002491,0.000229,0.012702,0.000127
9,0,9,True,0.00997,0.292791,0.002919,0.000314,0.009954,0.000135
10,0,10,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
11,0,11,True,0.00816,0.341766,0.002789,0.000284,0.010078,0.000127
12,0,12,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
13,0,13,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
14,0,14,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
15,0,15,True,0.00619,0.388174,0.002403,0.000248,0.012919,0.000125
16,0,16,True,0.00328,0.641547,0.002104,0.000181,0.015128,0.000126
17,0,17,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
18,0,18,True,0.00422,0.549356,0.002318,0.000205,0.016198,0.000132
19,0,19,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
20,0,20,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
21,0,21,True,0.00457,0.543937,0.002486,0.000213,0.014473,0.000134
22,0,22,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
23,0,23,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
24,0,24,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000

In [8]:
(benchmark.simulation_results_df.rejected.mean(),
 np.sqrt(benchmark.simulation_results_df.rejected.var() / n_sims))

(np.float64(0.44), np.float64(0.10132456102380444))

### Settings

- ```size = 0.5, n = 1000, theta = 0.5, tau = 0```
- ```size = 0.1, n = 5000, theta = 0.5, tau = -0.769```
- ```size = 0.01, n = 25000, theta = 0.8, tau = -2.248```