In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt

import sys
sys.path.append("../../../")

from chiseling.benchmark.benchmark import Benchmark
from chiseling.dgps.heterogeneous_linear_rct import search_for_target_specification_heterogeneous_linear_rct_size_only

In [3]:
# Hyperparameters
d = 100
s = 25
rho = 0.2

test_thresh = 0
alpha = 0.05

random_seed = 333

In [4]:
target_size = 0.01
theta = 0.9

n = 25000

n_sims = 30

In [5]:
tau = search_for_target_specification_heterogeneous_linear_rct_size_only(d,
                                                                         s,
                                                                         rho,
                                                                         theta,
                                                                         target_size,
                                                                         random_seed=random_seed)
print(tau)

-2.546775389397084

In [6]:
settings = {"task_id": 0,
            "dgp": "HeterogeneousLinearRCT",
             "n": n,
             "d": d,
             "s": s,
             "rho": rho,
             "theta": theta,
             "tau": tau,
             "alpha": alpha,
             "random_seed": 42,
             "strategy": "DataSplittingStrategy",
             "train_ratio": 0.5,
             "test_thresh": test_thresh,
             "learner": "ridgecv_learner",
             "n_sims": n_sims,
             "random_seed": random_seed}

In [7]:
benchmark = Benchmark(settings)
benchmark.simulate_batch()
benchmark.simulation_results_df

,task_id,sim_id,rejected,region_mass,subgroup_mean,subgroup_utility,region_mass_se,subgroup_mean_se,subgroup_utility_se
0,0,0,True,0.00474,0.588584,0.002790,0.000217,0.017917,0.000153
1,0,1,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
2,0,2,True,0.00565,0.477725,0.002699,0.000237,0.015882,0.000144
3,0,3,True,0.00670,0.449482,0.003012,0.000258,0.015229,0.000154
4,0,4,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
5,0,5,True,0.00526,0.516825,0.002718,0.000229,0.017741,0.000151
6,0,6,True,0.00590,0.452299,0.002669,0.000242,0.016454,0.000146
7,0,7,True,0.00530,0.517595,0.002743,0.000230,0.016321,0.000147
8,0,8,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
9,0,9,True,0.00405,0.575251,0.002330,0.000201,0.022381,0.000147
10,0,10,True,0.00563,0.454491,0.002559,0.000237,0.017710,0.000147
11,0,11,True,0.00549,0.511344,0.002807,0.000234,0.017466,0.000153
12,0,12,True,0.00508,0.448209,0.002277,0.000225,0.019238,0.000140
13,0,13,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
14,0,14,True,0.00570,0.468879,0.002673,0.000238,0.016965,0.000148
15,0,15,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
16,0,16,True,0.00602,0.477416,0.002874,0.000245,0.017116,0.000156
17,0,17,True,0.00504,0.519629,0.002619,0.000224,0.019418,0.000152
18,0,18,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
19,0,19,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
20,0,20,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
21,0,21,True,0.00442,0.521876,0.002307,0.000210,0.019659,0.000140
22,0,22,True,0.00376,0.591722,0.002225,0.000194,0.019855,0.000137
23,0,23,True,0.00545,0.433683,0.002364,0.000233,0.017549,0.000139
24,0,24,True,0.00448,0.533778,0.002391,0.000211,0.018259,0.000139
25,0,25,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
26,0,26,True,0.00519,0.471857,0.002449,0.000227,0.017399,0.000140
27,0,27,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
28,0,28,True,0.00374,0.588555,0.002201,0.000193,0.020415,0.000137
29,0,29,True,0.00503,0.492663,0.002478,0.000224,0.017012,0.000140

In [8]:
(benchmark.simulation_results_df.rejected.mean(),
 np.sqrt(benchmark.simulation_results_df.rejected.var() / n_sims))

(np.float64(0.6666666666666666), np.float64(0.08753762190648169))

### Settings

- ```size = 0.5, n = 1000, theta = 0.5, tau = 0```
- ```size = 0.1, n = 5000, theta = 0.6, tau = -0.933```
- ```size = 0.01, n = 25000, theta = 0.9, tau = -2.547```