In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt

import sys
sys.path.append("../../../")

from chiseling.benchmark.benchmark import Benchmark
from chiseling.dgps.heterogeneous_linear_rct import search_for_target_specification_heterogeneous_linear_rct_size_only

In [3]:
# Hyperparameters
d = 100
s = 5
rho = 0.2

test_thresh = 0
alpha = 0.05

random_seed = 111

In [4]:
target_size = 0.01
theta = 0.8

n = 25000

n_sims = 20

In [5]:
tau = search_for_target_specification_heterogeneous_linear_rct_size_only(d,
                                                                         s,
                                                                         rho,
                                                                         theta,
                                                                         target_size,
                                                                         random_seed=random_seed)
print(tau)

-2.200538190369416

In [6]:
settings = {"task_id": 0,
            "dgp": "HeterogeneousLinearRCT",
             "n": n,
             "d": d,
             "s": s,
             "rho": rho,
             "theta": theta,
             "tau": tau,
             "alpha": alpha,
             "random_seed": 42,
             "strategy": "DataSplittingStrategy",
             "train_ratio": 0.5,
             "test_thresh": test_thresh,
             "learner": "lassocv_learner",
             "n_sims": n_sims,
             "random_seed": random_seed}

In [7]:
benchmark = Benchmark(settings)
benchmark.simulate_batch()
benchmark.simulation_results_df

,task_id,sim_id,rejected,region_mass,subgroup_mean,subgroup_utility,region_mass_se,subgroup_mean_se,subgroup_utility_se
0,0,0,True,0.00439,0.479737,0.002106,0.000209,0.011367,0.000112
1,0,1,True,0.00446,0.541136,0.002413,0.000211,0.013306,0.000129
2,0,2,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
3,0,3,True,0.00356,0.589177,0.002097,0.000188,0.014575,0.000122
4,0,4,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
5,0,5,True,0.00315,0.617587,0.001945,0.000177,0.015050,0.000119
6,0,6,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
7,0,7,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
8,0,8,True,0.00341,0.637054,0.002172,0.000184,0.016596,0.000130
9,0,9,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
10,0,10,True,0.00233,0.720743,0.001679,0.000152,0.016836,0.000117
11,0,11,True,0.00704,0.386291,0.002719,0.000264,0.010757,0.000127
12,0,12,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
13,0,13,True,0.00729,0.391304,0.002853,0.000269,0.010749,0.000131
14,0,14,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
15,0,15,True,0.00491,0.507680,0.002493,0.000221,0.012352,0.000128
16,0,16,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
17,0,17,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000
18,0,18,True,0.00397,0.568336,0.002256,0.000199,0.015653,0.000129
19,0,19,False,0.00000,NaN,0.000000,0.000000,NaN,0.000000

In [8]:
(benchmark.simulation_results_df.rejected.mean(),
 np.sqrt(benchmark.simulation_results_df.rejected.var() / n_sims))

(np.float64(0.5), np.float64(0.11470786693528089))

### Settings

- ```size = 0.5, n = 1000, theta = 0.45, tau = 0```
- ```size = 0.25, n = 2000, theta = 0.45, tau = -0.358```
- ```size = 0.1, n = 5000, theta = 0.4, tau = -0.601```
- ```size = 0.05, n = 10000, theta = 0.45, tau = -0.868```
- ```size = 0.01, n = 25000, theta = 0.8, tau = -2.201```